<% include search %>

<div class="container border">
    <% data["Search"].forEach(function(movie){ %>
    <div class="row align-items-center justify-content-between searchItem py-1">
        <div class="col-sm-2 d-none d-sm-block p-0">
            <img class="img-fluid" src=<%=movie["Poster"] %>>
        </div>
        <div class="col-9 col-sm-8">
            <a href="/details/<%= movie['imdbID'] %>">
                <%= movie["Title"] %></a>
                (<%= movie["Year"] %>)
        </div>
        <div class="col-3 col-sm-2">
            <form id="params" action="/details/<%= movie['imdbID'] %>" method="GET">
                <button type="submit" class="btn btn-sm btn-info">Details</form>
        </div>
    </div>
    <% }) %>
</div>


<% include partials/footer %>